/* CONFIGURACOES-INICIAIS/INICIO */
@charset "utf-8";

@font-face {
    font-family: font2;
    src: url(fonts/akira.otf);
}

@font-face {
    font-family: font3;
    src: url(fonts/Lobster\ 1.4.otf);
}

@font-face {
    font-family: propagandaFont;
    src: url(fonts/kingsguard.otf);
}

html{
    scroll-behavior: smooth;
}

:root{
    --cor-header-footer: #623707;
    --cor-letra-header-footer:#c1c1c1;
    --cor-fundo-home:rgb(255, 247, 228);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo-home);
    overflow-x: hidden;
    cursor: url('./imgs/cursor-choco.png'), auto;
}
/* CONFIGURACOES-INICIAIS/FIM */

/* HEADER/INICIO */
header{
    background: var(--cor-header-footer);
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 20px;
    position: fixed;
    z-index: 1;
    height:10vh;
}

header a{
    text-decoration: none;
    color: rgb(227, 227, 227);
    position: relative;
    transition: .5s;
}

header a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(198, 198, 198);
    bottom: -5px;
    left: 0;
    z-index: -1;
    transition: .5s;
}

header a:hover::before{
    transition: .5s;
    width: 100%;
}

nav:has(a:hover) a:not(:hover) {
    opacity: 50%;
    transition: .5s;
}


header nav, header nav article{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: monospace;
    color: rgb(220, 220, 220);
}

header nav article{
    width:50vw;
}

header input{
    width: 30px;
    height: 30px;
    border: 1px solid red;
    display: none;
}
/* HEADER/FIM */

/* PROPAGANDA/INICIO */
main #propaganda{
    border: 5px solid var(--cor-header-footer); /* Define a espessura da borda */
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-home);
    color: rgb(60, 60, 60);

     h1{
        font-family: propagandaFont;
        font-size: clamp(1rem, 8vw, 6rem);
        text-align: center;
        padding: 10px;
    }

     p{
        font-family:monospace;
        text-align: center;
        position: relative;
        background-color: var(--cor-fundo-home);
        width: fit-content;
        padding: 10px;
    }

     p::before{
        content: '';
        position: absolute;
        width: 10vw;
        height: 1px;
        background-color: black;
        top: 50%;
        left: 100%;
    }

    p::after{
        content: '';
        position: absolute;
        width: 10vw;
        height: 1px;
        background-color: black;
        top: 50%;
        right: 100%;
    }
}



/* PROPAGANDA/FIM */



/* LISTA-PRODUTOS/INICIO */
#produtos #options{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    font-family: sans-serif;
    width: 100vw;

    h3{
        background-color: rgb(109, 60, 20);
        color: white;
        border: 1px solid rgb(240, 240, 240);
        flex-grow: 1;
        flex-basis: 150px;
        text-align: center;
        padding: clamp(10px,2vw,20px);
        transition: background-color 1s;

        &:hover{
            background-color: #78440a;
            transition: all 1s;
        }
    }
}

#produtos #options .escolhido{
    background-color: rgb(72, 38, 11);
}

#produtos .lista-produtos{
    padding: 10px;
}
#produtos .lista-produtos .produto{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(47, 47, 47, 0.416);
    background-color: #62370734;
    margin: 0px auto;
    border-radius: 10px;
    max-width: 75vw;
    height: fit-content;
    h3{
        border-radius: 5px 5px 0px 0px;
        font-family: monospace;
        font-size:clamp(0rem, 3vw, 1.5rem);
        
        color: rgb(78, 78, 78);
        letter-spacing: 2px;
        font-family: font2;
        padding: 13px;
        
    }

    img{
        aspect-ratio: 1/1;
        filter: drop-shadow(20px 20px 10px rgba(84, 84, 84, 0.125)) drop-shadow( -20px -20px 10px rgba(93, 93, 93, 0.158));
    }

    button{
        padding: 10px;

        background-color: #78440a;
        color: whitesmoke;
        border: none;
        transition: .3s;
        border-radius: 0px 0px 5px 5px;

        &:hover{
            transform: translate(2px, -2px);
        box-shadow: -2px 2px 0px rgb(222, 222, 222);
        }

        &:active{
            transform: translate(0px, 0px);
            box-shadow: 0px 0px 0px rgb(222, 222, 222);
            transition: .3s;
        }
    }
}

#produtos .lista-produtos:nth-child(n+3){
    display: none;
}

@keyframes carrosel-animation {
    0%{
        transform: translate(0%);
    }
    25%{
        transform: translate(-100vw);
        
    }
    50%{
        transform: translate(-200vw);
    }
    75%{
        transform: translate(-300vw);
    }
    100%{
        transform: translate(-400vw);
    }
}
/* LISTA-PRODUTOS/FIM */

/* MENU-PEDIDO/INICIO */
#menu-pedido-container{
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    article{
        display: flex;
        flex-direction: column;
        

        img{
            width: 100%;
            max-width: 400px;
            rotate: -25deg;
        }
        
        h3{
            font-size: 2rem;
            color: white;
            font-family: font2;
            text-align: center;
            background-color: #623707;
            padding: 10px;
            margin: 10px;
        }
        div{
            display: flex;
            flex-direction: column;
            max-width: 500px;
        }

        div :where(select, button, input){
            padding: 10px;
            margin-bottom: 5px;
            background-color: #f1f1f1;
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.223);
        }
    }

    
}
/* MENU-PEDIDO/FIM */

/* SIDE-BAR/INICIO */
#side-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50vh;
    right: 10px;
    animation: side-bar-show ease-in-out;
    animation-timeline: view();
    animation-range: cover 50vh cover 95vh;

    i{
        background-color: #995609;
        box-shadow: 5px 5px 10px rgba(117, 74, 21, 0.326);
        color: white;
        width: fit-content;
        padding: 17px 0px;
        border-radius: 100%;
        margin-top:10px;
        width: 50px;
        text-align: center;

        &:hover{
            background-color: #78460e;
        }
    }
}

@keyframes side-bar-show {
    from{
        transform: translate(50vw);
    }
    to{
        transform: translate(0px);
    }
}
/* SIDE-BAR/FIM */

/* INICIO/CARRINHO */

#carrinho{
    height: 100vh;
    width: 100svw;
    overflow: scroll;
    position: fixed;
    padding-top: 8vh;
    top: 0;
    left: 0;
    background-color: var(--cor-fundo-home);
}

#carrinho  h1{
    width: 100svw;
    padding: 20px;
    font-family: propagandaFont;
    font-size: 5rem;
    text-align: center;
}

#carrinho  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrinho .itemCarrinho{
    display: flex;
    border: 1px solid rgb(109, 60, 20);
    border-radius: 10px;
    min-width: 50vw;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(109, 60, 20, 0.235);
    position: relative;

    article{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article:nth-child(1){
        border:1px solid rgb(109, 60, 20);
        border-radius: 10px;
        justify-content: space-evenly;
        flex: 1;
    }

    div{
        padding: 15px;
        display: flex;
        flex-direction: column;
        
    }

    h2{
        font-size: 1rem;
        text-align: center;
    }

    h3{
        text-align: center;
        font-size: .8rem;
        color: rgba(93, 93, 93, 0.884);
    }

    i{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        scale: 1.5;
        width: 20px;
        height: 20px;
        bottom: 0;
        color: rgb(212, 212, 212);
        background-color: rgb(159, 0, 0);
        border-radius: 50px;
        cursor: pointer;
    }
}

#valorTotalCarrinho{
    text-align: center;
}

.carrinhoClose{
    display: none;
}

.carrinhoOpen {
    transition: .5s;
    display: block;
}


/* FIM/CARRINHO */

/* FOOTER/INICIO */
footer{
    background: linear-gradient(63deg, #78440a 0%, rgba(80,51,14,1) 49%, rgba(80,53,23,1) 100%);
    color: whitesmoke;
    padding: 20px;
    font-family: monospace;
    display: flex;
    flex-flow: column wrap;   

    nav{
        padding: 10px;
        width: 50vw;
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: rgb(42, 42, 42);
        border-radius: 10px;
        margin-top: 5px;
    }

    h2{
        padding-bottom: 10px;
    }

    a{
        text-decoration: none;
        color: #78440a;
    }

    i{
        scale: 2;
    }
}
/* FOOTER/FIM */

@media (max-width: 700px){

    #hamburguer{
        height:33px;
        width:35px;
        position:absolute;
        right:33px;
        top: 33px;
        display:flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-around;
        
    }

    #hamburguer span{
        content: ' ';
        transition: .5s;
        margin: 1px;
        background-color: rgb(84, 84, 84);
        width: 35px;
        height: 7px;
        border-radius: 3px;
        box-shadow: 1px -1px 0px #f1f1f1;
        
    }

    header{
        background-color: transparent;
    }

    header input{
        display: block;
        position: absolute;
        z-index: 1;
        width: 33px;
        height: 33px;
        top: 33px;
        right: 33px;
        opacity: 0%;
    }


    header nav article{
        position: absolute;
        top: -100vh;
        color: rgb(219, 219, 219);
        left: 0;
        background-color:#78440a ;
        width: 50vw;
        flex-direction: column;
        transition: top .5s;
        z-index: 10;
    }

    header nav article a{
        color: whitesmoke;
        padding: 15px 0px;
        border: none;
        padding-left: 10px;
        width: 100%;
        transition: 0.3s ease-in-out;

    }

    header nav article:hover a:not(:hover){
        opacity: 20%;
        padding-left: 10px;
        transition: 1s;
    }

    header nav article:hover a{
        padding-left:30px;
        transition: 1s;
    }

    header input:checked ~ article{
        top: 0%;
        transition: .5s;
    }

    header input:checked ~ #hamburguer span:nth-child(1){
        rotate: 45deg;
        transition: .5s;
        transform: translate(7px, 8px);
    }

    header input:checked ~ #hamburguer span:nth-child(2){
        transition: 0.5s;
        opacity: 0%;
    }

    header input:checked ~ #hamburguer span:nth-child(3){
        rotate: -45deg;
        transition: .5s;
        transform: translate(8px, -8px);
    }

    

}

